<h2>Formulario de angular</h2>


<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
  <app-button (click)="organizarElemento()">Organizar</app-button>
  <app-button (click)="onPatchValue()">Agregar texto</app-button>
  <br/> <br/>
  <app-form-field label="Input Antonio" [required]="true" [control]="form.controls['input']" [isInline]="isInline">
       <app-input formControlName="input"></app-input>
   </app-form-field>

    <app-button (click)="onSubmit()">Submit</app-button>
</form>
